<div class="wrap">
	<div id="all">
	<!--======== Top ========-->
	<section id="top">
		<div class="container-fluid">
			<h1 class="top-title">ONEGAIPROTEIN</h1>
			<h4 class="top-sub-title">トレーニング総合サイト</h4>
		</div>
	</section>
	<!--======== catch-copy ========-->
	<section id="catch-copy">
		<div class="container-fluid">
			<div class="row">
				<div class="col-6 offset-3">
						<h2 class="catch-copy_title">Let's ONEGAIPROTEIN!!</h2>
						<p class="txt_size_m">新規登録ですぐに使用できます</p>
							<%= link_to "いますぐ新規登録", new_user_registration_path, class:"btn-gradient-radius" %>
				</div>
			</div>
		</div>
	</section>
	<!--========= About ========-->
	<section id="about">
		<div class="container-fluid">
			<div class="heading-box">
				<h2 class="heading-title">ONEGAIPROTEIN</h2>
				<p class="heading-text">
					ONEGAIPROTEINは筋トレに励む人のための筋トレ総合サイトです<br>
					<span class="under">筋トレのモチベーションアップに繋げ、</span><br>理想の体型を手に入れるスーパーマッチョなサイトです！<br>
				</p>
			</div>
		</div>
	</section>
	<!--========= Intro ========-->
	<section id="intro">
		<div class="container-fluid">
			<h2 class="heading-title pb-3">機能</h2>
			<div class="row pb-5">
				<div class="col-xs-6">
					<div class="intro_box slide-bottom-1 show">
						<div class="intro_txt_box">
							<div class="row">
								<p class="txt_color intro_count">1.</p>
								<p class="txt_size_l"><span class="marker">プロテイン購入</span></p>
							</div>
							<p class="txt_size_m">
								プロテインやトレーニンググッズを購入できます。<br>
								管理者の方は新たな商品をジャンル毎に出品する事ができます。
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="intro_box slide-bottom-2 show">
						<div class="intro_txt_box">
							<div class="row">
								<p class="txt_color intro_count">2.</p>
								<p class="txt_size_l"><span class="marker">筋トレメモ</span></p>
							</div>
							<p class="txt_size_m">
								トレーニングを記録できます。<br>
								記録した分だけカレンダーが緑になりますので、たくさん記録してカレンダーを森にしていきましょう。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row pb-5">
				<div class="col-xs-6">
					<div class="intro_box slide-bottom-3 show">
						<div class="intro_txt_box">
							<div class="row">
								<p class="txt_color intro_count">3.</p>
								<p class="txt_size_l"><span class="marker">筋トレ動画</span></p>
							</div>
							<p class="txt_size_m">
								動画を見て、トレーニング方法を知る事ができます。<br>
								初心者の方も安心してジムに通う事ができます。
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="intro_box slide-bottom-4 show">
						<div class="intro_txt_box">
							<div class="row">
								<p class="txt_color intro_count">4.</p>
								<p class="txt_size_l"><span class="marker">検索</span></p>
							</div>
							<p class="txt_size_m">
								投稿を「腹筋＆コア」「腕＆肩」「大臀筋＆脚」の3種類の筋群で<br>
								検索することができます。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row pb-5">
				<div class="col-6 offset-3">
					<div class="intro_box slide-bottom-5 show">
						<div class="intro_txt_box">
							<div class="row">
								<p class="txt_color intro_count">5.</p>
								<p class="txt_size_l"><span class="marker">お問い合わせ</span></p>
							</div>
							<p class="txt_size_m">
								お問い合わせの際は「Contact」ページから
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--======== footer ========-->
	<footer>
	    <nav class="footer">
	      <p class="copyright">© Copyright 2020 ONEGAIPROTEIN, inc. All rights reserved.</p>
	    </nav>
	</footer>
	</div>
</div>

<div class="start">

</div>